////
/// PX-FORMS-DESIGN
/// Defines base form styles
/// @group px-forms-design
////

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";

/// Sets a prepended namespace for all generated classes.
/// @group px-forms-design:variables:style
/// @type String [default] - Prepend value for all generated classes
/// @todo N/A
$inuit-forms-namespace                      : $inuit-namespace !default;

/// Default font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-text-color
$inuit-forms-color                          : var(--px-input-text-color, $gray15) !default;

/// Label font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-label-text-color
$inuit-forms-label-color                    : var(--px-input-label-text-color, $gray10) !default;

/// Placeholder font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-text-color--placeholder
$inuit-forms-color--placeholder             : var(--px-input-text-color--placeholder, rgba($black,0.3)) !default;

/// Placeholder font color on focus
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-text-color--placeholder--focused
$inuit-forms-color--placeholder--focused    : var(--px-input-text-color--placeholder--focused, rgba($black,0.3)) !default;

/// Help font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-text-color--help
$inuit-forms-color--help                    : var(--px-input-text-color--help, $gray10) !default;

/// Background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-background-color
$inuit-forms-background                     : var(--px-input-background-color, transparent) !default;

/// Hover background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-background-color--hover
$inuit-forms-background--hover              : var(--px-input-background-color--hover, $gray3) !default;

/// Outer border style
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-border-color--outer
$inuit-forms-border--outer                  : 1px solid var(--px-input-border-color--outer, $gray8) !default;

/// Focused text color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-text-color--focused
$inuit-forms-color--focused                 : var(--px-input-text-color--focused, inherit) !default;

/// Focused Background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-background-color--focused
$inuit-forms-background--focused            : var(--px-input-background-color--focused, $primary-light) !default;

/// Focused outer border color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-border-color--outer--focused
$inuit-forms-border--outer--focused         : var(--px-input-border-color--outer--focused, $primary-default) !default;

/// Disabled font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-text-color--disabled
$inuit-forms-color--disabled                : var(--px-input-text-color--disabled, rgba($black,0.2)) !default;

/// Disabled border color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-border-color--disabled
$inuit-forms-border--disabled               : var(--px-input-border-color--disabled, rgba($black,0.2)) !default;

/// Disabled background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-background-color--disabled
$inuit-forms-background--disabled           : var(--px-input-background-color--disabled, transparent) !default;

/// Textarea focused background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-input-textarea-background--focused
$inuit-textarea-background--focused         : var(--px-input-textarea-background--focused, $primary-light) !default;

/// Select dropdown chevron font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo N/A
$inuit-forms-select-color-svg               : #{$gray15} !default;

/// Select dropdown disabled chevron font color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo N/A
$inuit-forms-select-color-svg--disabled     :  #{$gray4} !default;

/// Select text color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-select-text-color
$inuit-forms-select-color                  : var(--px-select-text-color, $gray15) !default;

/// Select background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-select-background-color
$inuit-forms-select-background              : var(--px-select-background-color, $gray3) !default;

/// Select hover background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-select-background-color--hover
$inuit-forms-select-background--hover       : var(--px-select-background-color--hover, $gray6) !default;

/// Select active background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-select-background-color--active
$inuit-forms-select-background--active      : var(--px-select-background-color--active, $gray8) !default;

/// Select border color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-select-border-color
$inuit-forms-select-border                  : var(--px-select-border-color, transparent) !default;

/// Multiple select background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-multiselect-background-color
$inuit-forms-select-multiple-background     : var(--px-multiselect-background-color, $gray1) !default;

/// Validation warning text color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-validation-warning-text-color
$inuit-forms-validation-warning             : var(--px-validation-warning-text-color, $status-orange3) !default;

/// Validation warning background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-validation-warning-background-color
$inuit-forms-validation-warning-background  : var(--px-validation-warning-background-color, $status-orange1) !default;

/// Validation error text color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-validation-error-text-color
$inuit-forms-validation-error               : var(--px-validation-error-text-color, $status-red3) !default;

/// Validation error background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-validation-error-background-color
$inuit-forms-validation-error-background    : var(--px-validation-error-background-color, $status-red1) !default;

/// Validation success text color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-validation-success-text-color
$inuit-forms-validation-success             : var(--px-validation-success-text-color, $status-green3) !default;

/// Validation success background color
/// @group px-forms-design:variables:style
/// @type Color [default]
/// @todo --px-validation-success-background-color
$inuit-forms-validation-success-background  : var(--px-validation-success-background-color, $status-green1) !default;

/// Letter-spacing (aka kerning) on text that is all caps
/// @group px-headings-design:variables:style
/// @type Number [default]
/// @todo N/A
$inuit-letter-spacing--caps                 : var(--px-headings-letter-spacing, 0.3px) !default;

/// Generate the CSS for one line form fields?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-inline-fields                 : false !default;

/// Generate the CSS for field validation?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-validation-states             : false !default;

/// Generate the CSS for tiny inputs?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-input--tiny                   : false !default;

/// Generate the CSS for small inputs?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-input--small                  : false !default;

/// Generate the CSS for regular inputs?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-input--regular                : false !default;

/// Generate the CSS for large inputs?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-input--large                  : false !default;

/// Generate the CSS for huge inputs?
/// @group px-forms-design:variables:flag
/// @type Boolean [default]
$inuit-enable-input--huge                   : false !default;

fieldset {
  margin: 0;
  &, legend {
    border: 0;
    padding: 0;
  }
}

legend {
  margin-bottom: $inuit-base-spacing-unit--large;
  font-weight: bold;
}

.#{$inuit-forms-namespace}form-field,
%#{$inuit-forms-namespace}form-field {
  margin-bottom: $inuit-base-spacing-unit--large;
  &:last-child {
    margin-bottom: $inuit-base-spacing-unit--large * 2;
  }
}

label {
  display: block;
  margin-bottom: $inuit-base-spacing-unit--tiny * 0.8;
  cursor: pointer;
  text-transform: uppercase;
  font-size: $inuit-base-font-size * 0.8;
  color: $inuit-forms-label-color;
  letter-spacing: $inuit-letter-spacing--caps;
}

.#{$inuit-forms-namespace}label--inline,
%#{$inuit-forms-namespace}label--inline {
  display: inline-block;
  margin-bottom: 0;
  + {
    .#{$inuit-forms-namespace}text-input,
    %#{$inuit-forms-namespace}text-input {
      margin-left: $inuit-base-spacing-unit--small;
    }
  }
}

.#{$inuit-forms-namespace}text-input,
%#{$inuit-forms-namespace}text-input, textarea, select {
  font: inherit;
  outline: 0;
  background-color: $inuit-forms-background;
  transition: background .4s, border-color .4s, color .4s;
  &:disabled, &[readonly] {
    border-color: $inuit-forms-border--disabled;
    color: $inuit-forms-color--disabled;
    cursor: not-allowed;
    background-color: $inuit-forms-background--disabled;
  }
  &:hover {
    background-color: $inuit-forms-background--hover;
  }
  &::-webkit-input-placeholder {
    color: $inuit-forms-color--placeholder;
  }
  // For FF 19-51
  &::-moz-placeholder {
    color: $inuit-forms-color--placeholder;
  }
  &::placeholder {
    color: $inuit-forms-color--placeholder;
  }
  &:focus::-webkit-input-placeholder {
    color: $inuit-forms-color--placeholder--focused;
  }
  // For FF 19-51
  &:focus::-moz-placeholder {
    color: $inuit-forms-color--placeholder--focused;
  }
  &:focus::placeholder {
    color: $inuit-forms-color--placeholder--focused;
  }
  &:disabled::-webkit-input-placeholder {
    color: $inuit-forms-color--disabled;
  }
  // For FF 19-51
  &:disabled::-moz-placeholder {
    color: $inuit-forms-color--disabled;
  }
  &:disabled::placeholder {
    color: $inuit-forms-color--disabled;
  }
}

.#{$inuit-forms-namespace}text-input,
%#{$inuit-forms-namespace}text-input {
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: $inuit-forms-border--outer;
  padding: 0 $inuit-base-spacing-unit--tiny;
  color: $inuit-forms-color;
  &:focus {
    border-color: $inuit-forms-border--outer--focused;
    background-color: $inuit-forms-background--focused;
    color: $inuit-forms-color--focused;
  }
  + {
    [type=checkbox], [type=radio] {
      margin-left: $inuit-base-spacing-unit--large;
    }
    .label--inline {
      margin-left: $inuit-base-spacing-unit--small;
    }
  }
  &::-webkit-input-placeholder {
    padding-top: 1px;
  }
  // For FF 19-51
  &::-moz-placeholder {
    padding-top: 1px;
  }
  &::placeholder {
    padding-top: 1px;
  }
  &::-ms-clear {
    display: none;
  }
}

textarea {
  width: 100%;
  color: $inuit-forms-color;
  overflow: auto;
  min-height: calc(#{$inuit-base-line-height * 6} + #{$inuit-base-spacing-unit--tiny * 2});
  padding: $inuit-base-spacing-unit--tiny $inuit-base-spacing-unit--small;
  resize: vertical;
  border: $inuit-forms-border--outer;
  border-radius: 0;
  &:focus {
    color: $inuit-forms-color--focused;
    background-color: $inuit-textarea-background--focused;
    border: 1px solid $inuit-forms-border--outer--focused;
  }
}

select {
  width: auto;
  padding: 0 3em 0 1em;
  box-shadow: none;
  height: calc(2em);
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20viewBox%3D%220%200%20658%201024%22%3E%3Cpath%20fill%3D%22%23#{str-slice($inuit-forms-select-color-svg,2)}%22%20d%3D%22M614.286%20420.571q0%207.429-5.714%2013.143l-266.286%20266.286q-5.714%205.714-13.143%205.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l28.571-28.571q5.714-5.714%2013.143-5.714t13.143%205.714l224.571%20224.571%20224.571-224.571q5.714-5.714%2013.143-5.714t13.143%205.714l28.571%2028.571q5.714%205.714%205.714%2013.143z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: calc(100% - #{$inuit-base-spacing-unit--small}) 37.5%;
  color: $inuit-forms-select-color;
  background-color: $inuit-forms-select-background;
  border: $inuit-forms-select-border;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  &:hover {
    background-color: $inuit-forms-select-background--hover;
  }
  &:active {
    background-color: $inuit-forms-select-background--active;
  }
  &:disabled, &[readonly] {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20viewBox%3D%220%200%20658%201024%22%3E%3Cpath%20fill%3D%22%23#{str-slice($inuit-forms-select-color-svg--disabled,2)}%22%20d%3D%22M614.286%20420.571q0%207.429-5.714%2013.143l-266.286%20266.286q-5.714%205.714-13.143%205.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l28.571-28.571q5.714-5.714%2013.143-5.714t13.143%205.714l224.571%20224.571%20224.571-224.571q5.714-5.714%2013.143-5.714t13.143%205.714l28.571%2028.571q5.714%205.714%205.714%2013.143z%22%2F%3E%3C%2Fsvg%3E');
    color: $inuit-forms-color--disabled;
  }
  &[multiple] {
    padding: $inuit-base-spacing-unit--tiny;
    cursor: pointer;
    border: none;
    background: $inuit-forms-select-multiple-background;
  }
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  select {
    padding-top: .4em;
    padding-bottom: .4em;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  select {
    padding-top: .4em;
    padding-bottom: .4em;
  }
}

.#{$inuit-forms-namespace}text-input,
%#{$inuit-forms-namespace}text-input,
.#{$inuit-forms-namespace}label--inline,
%#{$inuit-forms-namespace}label--inline {
  + [type=submit], [type=cancel] {
    margin-left: $inuit-base-spacing-unit--large;
  }
}

[type=checkbox], [type=radio] {
  margin: 0;
  padding: 0;
  font-size: 1.05em;
  cursor: pointer;
  outline: none;
  &[disabled] {
    cursor: not-allowed;
    + {
      .#{$inuit-forms-namespace}label--inline,
      %#{$inuit-forms-namespace}label--inline {
        cursor: not-allowed;
      }
    }
  }
}

[type=checkbox] + {
  .#{$inuit-forms-namespace}label--inline,
  %#{$inuit-forms-namespace}label--inline {
    padding-left: 5px;
  }
}

[type=radio] + {
  .#{$inuit-forms-namespace}label--inline,
  %#{$inuit-forms-namespace}label--inline {
    padding-left: 3px;
  }
}

.form-field__help {
  display: inline-block;
  margin-top: 0;
  margin-left: $inuit-base-spacing-unit--tiny;
  font-size: $inuit-base-font-size * 0.8;
  line-height: inherit;
  color: $inuit-forms-color--help;
}

@if ($inuit-enable-input--tiny == true) {

  .#{$inuit-forms-namespace}input--tiny,
  %#{$inuit-forms-namespace}input--tiny {
    max-width: calculateRem(106px);
  }

}

@if ($inuit-enable-input--small == true) {

  .#{$inuit-forms-namespace}input--small,
  %#{$inuit-forms-namespace}input--small {
    max-width: calculateRem(212px);
  }

}

@if ($inuit-enable-input--regular == true) {

  .#{$inuit-forms-namespace}input--regular,
  %#{$inuit-forms-namespace}input--regular {
    max-width: calculateRem(318px);
  }

}

@if ($inuit-enable-input--large == true) {

  .#{$inuit-forms-namespace}input--large,
  %#{$inuit-forms-namespace}input--large {
    max-width: calculateRem(424px);
  }

}

@if ($inuit-enable-input--huge == true) {

  .#{$inuit-forms-namespace}input--huge,
  %#{$inuit-forms-namespace}input--huge {
    max-width: calculateRem(530px);
  }

}

@if ($inuit-enable-inline-fields == true) {

  /**
   * Styles for one line forms.
   */

  .#{$inuit-forms-namespace}form-field--inline,
  %#{$inuit-forms-namespace}form-field--inline {
    .text-input {
      margin-bottom: $inuit-base-spacing-unit--large;
    }
    &:last-child {
      margin-bottom: $inuit-base-spacing-unit--large;
    }
  }

}

@if ($inuit-enable-validation-states == true) {

  .#{$inuit-forms-namespace}validation-warning,
  %#{$inuit-forms-namespace}validation-warning {
    color: $inuit-forms-validation-warning;
  }

  .#{$inuit-forms-namespace}validation-error,
  %#{$inuit-forms-namespace}validation-error {
    color: $inuit-forms-validation-error;
  }

  .#{$inuit-forms-namespace}validation-success,
  %#{$inuit-forms-namespace}validation-success {
    color: $inuit-forms-validation-success;
  }

  .#{$inuit-forms-namespace}text-input,
  %#{$inuit-forms-namespace}text-input {
    &.validation-warning {
      border-color: $inuit-forms-validation-warning;
      background-color: $inuit-forms-validation-warning-background;
      color: $inuit-forms-color--focused;
    }
  }

  .#{$inuit-forms-namespace}text-input,
  %#{$inuit-forms-namespace}text-input {
    &.validation-error {
      border-color: $inuit-forms-validation-error;
      background-color: $inuit-forms-validation-error-background;
      color: $inuit-forms-color--focused;
    }
  }

  .#{$inuit-forms-namespace}text-input,
  %#{$inuit-forms-namespace}text-input {
    &.validation-success {
      border-color: $inuit-forms-validation-success;
      background-color: $inuit-forms-validation-success-background;
      color: $inuit-forms-color--focused;
    }
  }

}
