////
/// PX-FORMS-DESIGN
/// Defines base form styles
/// @group px-forms-design
////

@import "../px-defaults-design/settings.defaults";
@import "../px-colors-design/settings.colors";

/// @type String [default] - Prepend value for all generated classes
$inuit-forms-namespace              : $inuit-namespace !default;

/// @type Color [default] - Font color
$inuit-forms-color                  : $black !default;

/// @type Color [default] - Placeholder font color
$inuit-forms-color--placeholder     : $gray5 !default;

/// @type Color [default] - Background color
$inuit-forms-background             : $gray2 !default;

/// @type Color | String [default] - Inner border string
$inuit-forms-border--inner          : inset 0 0 0 1px $gray3 !default;

/// @type Color | String [default] - Outer border string
$inuit-forms-border--outer          : 1px solid $gray5 !default;

/// @type Color | String [default] - Focused inner border string
$inuit-forms-border--inner--focused : inset 0 0 0 1px $gray4 !default;

/// @type Color [default] - Focused outer border color
$inuit-forms-border--outer--focused : $primary-blue !default;

/// @type Color [default] - Disabled font color
$inuit-forms-color--disabled        : $gray5 !default;

/// @type Color [default] - Disabled background color
$inuit-forms-background--disabled   : $gray1 !default;

/// @type Color | String [default] - Disabled border string
$inuit-forms-border--disabled       : 1px solid $gray3 !default;

/// @type Color [default] - Readonly font color
$inuit-forms-color--readonly        : $gray5 !default;

/// @type Color [default] - Readonly background color
$inuit-forms-background--readonly   : $white !default;

/// @type Color | String [default] - Readonly border string
$inuit-forms-border--readonly       : 1px solid $gray3 !default;

/// @type Color [default] - Help font color
$inuit-forms-color--help            : $gray7 !default;

/// @type Boolean [default] - Produce CSS for bare text-inputs?
$inuit-enable-text-input--bare      : false !default;

/// @type Boolean [default] - Produce CSS for tiny inputs?
$inuit-enable-input--tiny           : false !default;

/// @type Boolean [default] - Produce CSS for small inputs?
$inuit-enable-input--small          : false !default;

/// @type Boolean [default] - Produce CSS for regular inputs?
$inuit-enable-input--regular        : false !default;

/// @type Boolean [default] - Produce CSS for large inputs?
$inuit-enable-input--large          : false !default;

/// @type Boolean [default] - Produce CSS for huge inputs?
$inuit-enable-input--huge           : false !default;

@if import-once('base.forms') {
  
  .form-field {
    margin-bottom: $inuit-base-spacing-unit--large;
    &:last-child {
      margin-bottom: $inuit-base-spacing-unit--large * 2;
    }
  }
  
  fieldset {
    margin: 0;
    &, legend {
      border: 0;
      padding: 0;
    }
  }
  
  legend {
    margin-bottom: $inuit-base-spacing-unit--large;
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: $inuit-base-spacing-unit--small;
    cursor: pointer;
  }
  
  .#{$inuit-forms-namespace}label--inline,
  %#{$inuit-forms-namespace}label--inline {
    display: inline-block;
    margin: 0;
    line-height: 2;
    + .text-input {
      margin-left: $inuit-base-spacing-unit--small;
    }
  }
  
  .#{$inuit-forms-namespace}text-input,
  %#{$inuit-forms-namespace}text-input,
  textarea {
    &:focus {
      border-color: $inuit-forms-border--outer--focused;
      box-shadow: $inuit-forms-border--inner--focused;
    }
  }
  
  .#{$inuit-forms-namespace}text-input,
  %#{$inuit-forms-namespace}text-input,
  textarea,
  select {
    width: 100%;
    margin: 0;
    border: $inuit-forms-border--outer;
    padding: 0 $inuit-base-spacing-unit--small;
    box-shadow: $inuit-forms-border--inner;
    outline: 0;
    font: inherit;
    text-align: left;
    vertical-align: top;
    background-color: $inuit-forms-background;
    background-clip: padding-box;
    color: $inuit-forms-color;
    -webkit-appearance: none;
    &[readonly], &[disabled] {
      box-shadow: none;
    }
    &[readonly] {
      border: $inuit-forms-border--readonly;
      background-color: $inuit-forms-background--readonly;
      color: $inuit-forms-color--readonly;
    }
    &:disabled {
      border: $inuit-forms-border--disabled;
      box-shadow: none;
      cursor: not-allowed;
      background-color: $inuit-forms-background--disabled;
      color: $inuit-forms-color--disabled;
    }
    // Suppress red glow that Firefox adds to form fields by default.
    &:invalid {
      box-shadow: none;
    }
  }
  
  .text-input + {
    [type=checkbox], [type=radio] {
      margin-left: $inuit-base-spacing-unit--large;
    }
    .label--inline {
      margin-left: $inuit-base-spacing-unit--small;
    }
  }
  
  input:not(.btn), .label--inline {
    + .btn {
      margin-left: $inuit-base-spacing-unit--large;
    }
  }
  
  .#{$inuit-forms-namespace}text-input,
  %#{$inuit-forms-namespace}text-input {
    height: 2em;
    line-height: 1;
  }
  
  [type=checkbox], [type=radio] {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
      + {
        .#{$inuit-forms-namespace}label--inline,
        %#{$inuit-forms-namespace}label--inline {
          cursor: not-allowed;
        }
      }
    }
  }
  
  [type=checkbox] + {
    .#{$inuit-forms-namespace}label--inline,
    %#{$inuit-forms-namespace}label--inline {
      padding-left: 5px;
    }
  }  
  
  [type=radio] + {
    .#{$inuit-forms-namespace}label--inline,
    %#{$inuit-forms-namespace}label--inline {
      padding-left: 3px;
    }
  }
  
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
  
  input[type="search"] {
    -webkit-appearance: none;
    padding: 0;
  }

  
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
   
   // Commenting out as per https://github.com/Polymer/polymer/issues/1432
  
  /*
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      height: auto;
    }
  */
    
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  
  // Commenting out as per https://github.com/Polymer/polymer/issues/1432
  
  /*
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  */
  
  @if ($inuit-enable-input--tiny == true) {
  
    .#{$inuit-forms-namespace}input--tiny,
    %#{$inuit-forms-namespace}input--tiny {
      max-width: calculateRem(106px);
    }
  
  }
  
  @if ($inuit-enable-input--small == true) {

    .#{$inuit-forms-namespace}input--small,
    %#{$inuit-forms-namespace}input--small {
      max-width: calculateRem(212px);
    }
  
  }
  
  @if ($inuit-enable-input--regular == true) {
  
    .#{$inuit-forms-namespace}input--regular,
    %#{$inuit-forms-namespace}input--regular {
      max-width: calculateRem(318px);
    }
  
  }
  
  @if ($inuit-enable-input--large == true) {
  
    .#{$inuit-forms-namespace}input--large,
    %#{$inuit-forms-namespace}input--large {
      max-width: calculateRem(424px);
    }
  
  }
  
  @if ($inuit-enable-input--huge == true) {
  
    .#{$inuit-forms-namespace}input--huge,
    %#{$inuit-forms-namespace}input--huge {
      max-width: calculateRem(530px);
    }
  
  }
  
  .form-field__help {
    display: inline-block;
    margin-top: $inuit-base-spacing-unit--tiny;
    font-size: 1rem;
    line-height: inherit;
    color: $inuit-forms-color--help;
  }
  
  select[disabled],
  select[disabled] option,
  select[disabled] optgroup,
  textarea[disabled] {
    box-shadow: none;
    user-select: none;
    background-color: $inuit-forms-background--disabled;
    color: $gray5;
    cursor: $inuit-forms-color--disabled;
  }
  
  // Separate rule for Firefox. Separate rule for IE, too. Cannot stack with WebKit's.
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    padding-top: 1px;
    color: $inuit-forms-color--placeholder;
  }
  
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: $inuit-forms-color--placeholder;
  }
  
  select {
    border-color: $gray1;
    border-radius: 2px;
    text-transform: none;
  }
  
  textarea,
  select[size],
  select[multiple] {
    height: auto;
  }
  
  // Set height back to normal, for Opera, WebKit, and IE.
  select[size="0"],
  select[size="1"] {
    height: 2em;
  }
  
  // Tweaks for Safari + Chrome.
  @media (-webkit-min-device-pixel-ratio: 0) {
    select[size],
    select[multiple],
    select[multiple][size] {
      background-image: none;
      padding-right: calculateRem(3px);
    }
    select,
    select[size="0"],
    select[size="1"] {
      padding-right: calculateRem(20px);
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAICAMAAADUf89RAAAAIVBMVEX///9XV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dvorLKAAAACnRSTlMANDU5QGSAkJHv2+SltgAAADxJREFUCNdtyTkCwCAMxEBxBPD+/8HE0CQYlSNolvCyNb4VaZ1sUvmdsY77gHCe1ztnXV70fW7u5+5Qg0y71gGIV/2q9QAAAABJRU5ErkJggg==) no-repeat right center, linear-gradient(0deg, $gray1 0%, $white 100%);
    }
  }
  
  select[multiple] {
    padding: $inuit-base-spacing-unit--tiny;
  }
  
  textarea {
    overflow: auto;
    width: 100%;
    min-height: calculateRem(40px);
    resize: vertical;
  }
  
  optgroup {
    margin: 0;
    font: inherit;
    font-weight: bold;
    color: $black;
    // Kill phantom spacing and dotted border that appears in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  } 
  
  
  
  @if ($inuit-enable-text-input--bare == true) {
    
    /**
     * Text inputs with no styles.
     */
  
    .#{$inuit-btn-namespace}text-input--bare,
    %#{$inuit-btn-namespace}text-input--bare {
      border: 0!important;
    }
  
  }

}